[2014-02-13 09:29] comur opened #2 "Delete unused images"
Have to find a way to delete images when they are not used anymore.

2 possibilities:
1. Add a listener on preUpdate and remove old images
2. Add a trigger on image change in the widget and call an ajax route to delete old images

Any way, we have to create a service to get all image types (cropped, thumbs) related to an image.

[2014-03-01 14:04] comur opened #3 "Add multiple file upload support"
Add options to support multiple file upload with a new field type like comur_gallery and store them in an array to keep it simple.

[2014-03-02 18:20] #3 closed, assigned to nobody

[2014-03-02 18:21] comur opened #4 "Add multiple file upload support"
Add multiple file upload support to gallery widget

[2014-03-02 18:22] comur opened #5 "Add confirm message before remove image from gallery"

[2014-03-02 18:23] comur opened #6 "Align image delete icon"
Align image delete icon to top left corner of image container

[2014-03-06 09:11] gpeanodc opened #8 "mismatch in progress bar name"
There's a mismatch in progress bar selector in "comur.imagelibrary.js" and "croppable_image_modal.html.twig".

"comur.imagelibrary.js" => $('#image_upload_file_progress .progress-bar').css('width',progress + '%');

"croppable_image_modal.html.twig" => <div id="image_file_upload_progress" class="progress"><div class="progress-bar progress-bar-success"></div></div>

[2014-03-06 09:17] #8 closed, assigned to nobody

[2014-03-06 10:32] gpeanodc opened #9 "parameter 'forceResize' => false doesn't seem working"
If set to true or false, I always get same images with same definition ;)

[2014-03-06 15:33] #9 closed, assigned to nobody

[2014-05-13 18:27] grizzlylab opened #10 "Should talk about the required bundle "JMSTranslationBundle""
Hi, first of all, thank you for this bundle.
It would be nice if you add this dependency in composer :
"jms/translation-bundle": "dev-master".

[2014-07-01 15:03] #10 closed, assigned to nobody

[2014-08-05 13:46] mahendra-virtueinfo opened #11 "Is there way to store image based on last_insert_id ?"
Hello,

I really want to know about image store based on last insert id,

For Ex:
-> Current images table have 3 records.
-> Now i am going to upload new one.
-> Newly uploaded image stored would be on uploads/{4}/2sdf3asdf4as.jpg
->{4} will be last insert id

Actually standard symfony provide lifecycle callback so we can do that, but i don't know how to do with this bundle.

I really love this bu

[2014-08-06 04:57] mahendra-virtueinfo opened #12 "Cropped Image name will be configurable."
Cropped image name will be configurable, it make big effort when some dynamics image directory generate after upload and cropped.

[code]

What you think about this one ?

[2014-08-22 06:52] #6 closed, assigned to nobody

[2014-09-07 19:15] chadyred opened #13 "Uncaught TypeError: undefined is not a function"
Hello,

i have all config write but with the type Single image or gallery i have the same error in console :

<pre>
Uncaught TypeError: undefined is not a function comur.imagelibrary.js:60
initializeImageManager comur.imagelibrary.js:60
(anonymous function) (index):347
jQuery.event.dispatch 772ad89_part_5.js:1
elemData.handle 772ad89_part_5.js:1
POST http://127.0.0.1:8080/app_dev.php/image-library

[2014-09-13 05:27] elgui02 opened #14 "comur + bootstrap when click edit"
Hi a try use the bundle when i click on edit my navegator says:

Uncaught TypeError: undefined is not a function
on  $('#image_upload_file').fileupload
i include  {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': true, 'include_bootstrap': false} %} do you have any idea?

[2014-09-18 16:29] #14 closed, assigned to nobody

[2014-09-23 15:35] tgmichel opened #15 "404 when uploading on production"
While moving the project to production i noticed that the POST after uploading an image returns 404:

"Failed to load resource: the server responded with a status of 404 (Not Found) http://somedomain.com/upload/"

The not-found path is defined in routing.yml

comur_api_upload:
    pattern: /upload

In debug_mode everything works just fine, at both local and external server, but in production mode

[2014-09-24 09:18] #15 closed, assigned to nobody

[2014-10-08 15:38] lexxpavlov opened #17 "Setting jpeg quality"
Crop engine set jpeg quality to 100 (as mentioned in EXIF of result image). I found option 'jpeg_quality' in UploadHandler.php at 883 line, but setting this option to field definition doesn't do any changes.
I tried to set 'jpeg_quality' at these places:

[code]

It will be logical to set jpeg_quality inside thumbs array, for separate option for all thumbs.

[2014-11-15 21:58] Tersoal opened #20 "JSON.parse syntax error"
Hi all.

I've a syntax error in the options parsing in twig:

fields.html.twig line 54: {{ options | json_encode() | raw }}

I think that uploadConfig object isn't properly parse, because the slash in the routes are not escaped (they are '\' instead of '\').

Is this possible?

[2014-11-18 08:57] anthonyherve opened #22 "Problem with jCrop"
Hello !

I hava a problem when I want to crop my uploaded image.
First, I don't see all my image.
Second, I can't move the jCrop zone and the jCrop zone have a very little height.
I hav also a list bullet at the left...

I use configuration from READMME.md.

What am I doing wrong ? Thank you for your help.

![jcrop_problem](https://cloud.githubusercontent.com/assets/1899492/5084592/b314a21a-6f08-1

[2014-11-19 09:52] #20 closed, assigned to nobody

[2014-11-19 09:53] #17 closed, assigned to nobody

[2014-11-19 09:53] #13 closed, assigned to nobody

[2014-11-19 09:53] #12 closed, assigned to nobody

[2014-11-19 13:17] #22 closed, assigned to nobody

[2014-11-21 15:57] carlosequiz opened #23 "Delete images from gallery"
Hi!
I've been playing around with this bundle (excellent work btw), and I'm kind of lost trying to find out the right direction to implement remove image from gallery.

Has anybody worked on this feature before? Can I ask for some directions on this?

Thanks in advance!

[2014-11-21 16:54] #23 closed, assigned to nobody

[2014-11-24 18:47] carlosequiz opened #25 "Problems overriding fields template"
Hi,

I'm facing some troubles overriding fields.html.twig

I've already copied ComurImageBundle/views/Form templates and place it into app/Resources folder.

In line 91 I want to override
i class="icon icon icon-remove" data-delete="image"
to:
i class="glyphicon glyphicon-remove-circle" data-delete="image"

But the template is always rendering class="icon icon icon-remove" instead class="glyphicon

[2014-11-24 22:36] mehrdad-masoumi opened #26 "modal"
after install with composer click add or edit not responding
and modal not open
plz help me.

[2014-11-25 17:56] #25 closed, assigned to nobody

[2014-11-26 06:52] #26 closed, assigned to nobody

[2014-11-27 20:40] carlosequiz opened #27 "Images cropped twice"
Hi!

I'm experimenting a weird behavior when uploading images, when I upload the first image upload one image, perfect; but when upload the second two images are uploaded, and so on; third image tree images uploaded.

What could possibly be happening?

[2014-12-02 09:51] #27 closed, assigned to nobody

[2014-12-03 10:19] Tersoal opened #29 "Placehold.io does not work"
Hi all!!!

It seems that placehold.io doesn't work, the web is offline. It can be replaced by placehold.it, but I recommend to use holder.js, thus the bundle doesn't depend on outer functions.

http://imsky.github.io/holder/

[2015-01-05 15:05] AlexLwm opened #30 "Error with *.png transparency"
When I crop a file png with background transparent
I have a black background
I think you must add  imagealphablending on each new layer.

[2015-01-06 09:43] comur commented on #30
Hi @AlexLwm

can you send me your image that i can test and try to add a patch pls ?

thanks

[2015-01-06 09:46] comur commented on #29
Hi tersoal

can you send me a PR for this issue ?

thanks

[2015-01-06 09:48] AlexLwm commented on #30
![laptop](https://cloud.githubusercontent.com/assets/4696362/5626843/19326b00-9591-11e4-8595-1a6c661376b0.png)

Sure in this file le screen laptop is transparent.

Personaly I have change init_crop to have a background white

And I have change uploadController.php

in function resizeCropImage

         $dstR = imagecreatetruecolor( $destW, $destH );
        //imagealphablending($dstR, false);

[2015-01-06 10:19] #30 closed

[2015-01-06 10:19] comur commented on #30
Can you confirm if it's ok or not for you pls ?

[2015-01-06 10:22] comur commented on #29
https://placehold.io/589/300

For me it's working but your idea is better to not depend on outer systems so if you have any time to send me a PR i can merge it, thanks.

i was using placehold.it but it does not support https...

[2015-01-06 10:28] AlexLwm commented on #30
It s ok
Thank's

2015-01-06 11:19 GMT+01:00 Can OMUR <notifications@github.com>:

--
Alexandre HUBERT

Bureau :0230961981[image: LWM Agence : agence digitale]
www.lwm-agence.com <http://www.lwm-agence.com/>Standard Paris :01 44 77 99
44Standard Rennes :02 30 96 14 09Fax :01 44 77 99 40[image: LWM Agence :
Suivez-nous sur Twitter] <http://twitter.com/lwm_agence>    [image: LWM
Agence : Rejoignez-no

[2015-01-08 10:24] Tersoal commented on #29
Sorry, I'm not skilled with github and forks. Can't you see the last commit?

[2015-01-09 10:07] AlexLwm opened #32 "can you push png transparent fix"
Hie can you push png transparent fix in the branches 1.0.x (with boostrap 3.0) please

[2015-01-09 15:06] comur commented on #32
Hi

It was already done, see last commit on branch pls :

74f56411b8cca80451f312cf4ebb83e12b637e7e

[2015-01-09 15:07] #32 closed

[2015-01-26 11:56] Tersoal opened #33 "Modal window not responsive"
Hi.

the modal is not responsive, and in mobiles is not functional. There is a fixed width to 850px, but i don't know why. There is a reason for that? If you delete it, the modal works perfectly.

Cheers,
Sergio

[2015-01-30 16:19] devbollinger opened #34 "mkdir: permission denied"
Having an issue when modal appear, i am not able to upload an img, Chrome gives me an error 500, mkdir: permission denied.
I work under mac os 10.7.5 (Lyon), I have been searching around and tried a couple of thing.
I gave apache the permission is needed:
sudo chown -R _www:_www web/uploads/
 chmod -R g+rw web/uploads/
sudo chgrp -R _www web/uploads/

I tried to put my username in _www group:
sudo

[2015-01-30 19:04] devbollinger commented on #34
Ok, sorry it was an error in my function getUploadRootDir(). Sorry again

[2015-02-02 07:58] comur commented on #34
No problem :)

[2015-02-02 07:58] #34 closed

[2015-02-04 08:13] adityarai opened #35 "Uncaught SyntaxError: Unexpected token x"
shows error - Uncaught SyntaxError: Unexpected token x - when i click edit button,.. i think it has to do something with parseJson

[2015-02-04 09:26] comur commented on #35
Hi @adityarai

Can you give me some more info ?
Which branch you use and which version of bootstrap you have ?
Is it a javascript error ? Can you look at inspector and give me some more info (file names and line that error occurs) ?

[2015-02-04 11:28] comur opened #36 "black line when uploaded image has exact same size"
If i upload an image which has exact same size as minWidht or minHeight, it adds a black line at left or top because jcrop sends:

x:-0.624996185302134
w:300.625

instead of

x: 0
w: 300

for an image width = 300 and minWidth = 300

[2015-02-24 11:47] AlexLwm commented on #29
hye can you push url replacement on v1.0 branche please

[2015-02-24 15:23] #36 closed

[2015-02-24 15:25] comur commented on #35
I close this issue, if you have more info to give me, you can reopen it.

[2015-02-24 15:25] #35 closed

[2015-02-24 16:19] #29 closed

[2015-02-24 16:22] comur commented on #29
I did it in a better (i think) way by including holderjs in composer. I have to test it

[2015-02-24 16:39] comur commented on #29
Well it's not working for now, i have to find a solution to publish holder.js in assets but without copying it in the bundle. If we copy, we cannot update holderjs.

So i will use a cdn for now, if someone has a solution for this i will appreciate :)

[2015-02-28 00:03] Tersoal commented on #2
Hi.

It's needed this. I'm detecting some issues:

1.- When I create a new item and I upload a image, automatically the file is upload to "[defined path]" and "[defined path]/thumbnails" folder with a hash. And I have no original image defined in the config.

2.- If I crop the image and continue, the cropped image is uploaded automatically to "[defined path]/cropped" and "[defined path]/cropped/th

[2015-03-01 15:50] Xyr2 opened #37 "I can't get it to work :("
Hey there,
I installed the lates dev-master as described in the documentation, but can't get it to work.
If I hover over the placeholder Image the Edit button appears, but pressing it doesn't work.
In the console I see this error when pressing the Edit button:
TypeError: $(...).fileupload is not a function
Empty string passed to getElementById().

Jquery and all necessary files are loaded and acti

[2015-03-02 09:49] comur commented on #37
Hi @Xyr2

Which version of Bootstrap do you use in your project ? If it's the latest, you need to install branch 1-dev as described in README at first line.

Tell me if it was that

[2015-03-02 14:14] comur commented on #2
Hi @Tersoal

I have some thoughts about this issue.

First, you can save original file name in another field if you want to delete it when your entity is removed (be careful, you will no longer see this image in "already uploaded" images selection). To do this, you can pass a parameter to your field : https://github.com/comur/ComurImageBundle#saveoriginal-optional

Then in your entity you need to

[2015-03-02 19:28] Tersoal commented on #2
Thanks!

Let me see...

[2015-03-05 17:20] Tersoal commented on #2
Well, i does not work.

I have defined my image field with 'saveOriginal'  => false (or you can delete as it's by default). The image file is upload by ajax to the server anyway, just when you select the image to upload.

Preremove lyfecycle callback does not work because the field defined isn't a file, string instead.

I'm updating my form, entity and controller to delete files. I'll put here, an

[2015-03-06 07:53] comur commented on #2
Send me your code and i will show you how to do it. I have to include a real example in the project

[2015-03-06 08:23] Tersoal commented on #2
I'll put here. Is up to you how include it in the docs.

I see other problems that I have to confirm in my tests.

[2015-03-07 08:56] Tersoal commented on #2
Hi.

I have resolved the old image files deletion with a service. The problem is that it must be done for all entities that have a comur image field, and I have tried to do in the bundle, but I don't know how identify the image fields in classmetada. My knowledge of symfony is not sufficient.

1. Entity and form field: as doc says, but originalImage is mandatory for deleting uploaded image (I don'

[2015-03-09 11:36] DavidPuleri opened #38 "Modal doesnt appear"
I manage to get the holder displayed properly but when I click on Modify, the background become darker as it would be expected but no modal and no error / warning / anything to debug.

Jquery 2.1
Bootstrap 3.2.2
Query UI Widget 1.10.3+amd (provided by your bundle)

Thanks for your help!

[2015-03-09 13:19] comur commented on #38
Hi @DavidPuleri

Which branch do you use ? 1-dev ? With Bootstrap 3 you have to use 1.x branch

[2015-03-09 13:22] comur commented on #37
I suppose that your problem is solved ?

[2015-03-09 13:22] #37 closed

[2015-03-09 13:24] comur commented on #2
Hi,

Thanks for this great job, I will take some time to check it.

[2015-03-09 14:04] DavidPuleri commented on #38
Hi

Thanks for replying so quickly. I am now using 1.0.2 but the console errors there : http://placehold.io/300/250.
I think that there is a type there :

 <img src="//placehold.io/{{ options.cropConfig.minWidth }}/{{ options.cropConfig.minHeight}}" id="{{ form[name].vars.id }}_preview"/>

Also,  when i click on use it, the preview disappears and I cant get it back

thx

[2015-03-09 14:12] comur commented on #38
Can you use 1-dev pls ? I fixed some issues recently

[2015-03-09 14:33] DavidPuleri commented on #38
ok, it looks better. The cropped image doesnt appear. I suspect it to be a path issue but the configuration seems ok. the cropped and original files are in the right folder but the browser doesnt display and loose the modifiy button

[2015-03-09 14:57] comur commented on #38
I need more detail about your code to help you on this issue,
can you check in inspector to see what you have instead of cropped image ?

[2015-03-09 15:35] DavidPuleri commented on #38
The image is properly cropped

This is the preview thumbnail that is not being displayed.

<img src="/uploads/image/cropped/thumbnails/300x250-be2ac7a541be27d9ac79c4b420156e60683c3221.jpg?1425915230275" id="lpi_sitebundle_image_filename_filename_preview" width="0" height="0" style="display: none !important; visibility: hidden !important; opacity: 0 !important; background-position: 0px 0px;">

This

[2015-03-11 13:47] apsylone commented on #38
Same problem here with @dev-master version.
Using :
- jQuery 1.10.2
- jQueryUI 1.9.2
- Boostrap v3.2.0

No error JS in console. But some networks error (404) for a placeholder :
http://www.mydomain.com/mycontroller/myaction/holder.js/200x200

Hope this would help for debugging !

[2015-03-11 14:11] comur commented on #38
Hi @apsylone

Same answer :) With Bootstrap 3 you have to use 1.x branch.

Hope it helps

[2015-03-11 16:27] apsylone commented on #38
Hum... You're right :+1:
I've posted too  fast !

Next time, I will read the doc first :smile:

Thanks,

[2015-03-12 01:03] Tersoal opened #39 "png transparent background turned black"
Hi again.

There is an issue with png files that has transparent background. I have resolved it.
- In comur.image.library.js jcrop initialization must be bgColor: 'transparent' insteada of bgColor: 'black'.
- In UploadController.php, line 337, the transparency is doing after other functions that breaks it. It must be moved to line 325, inmediately after imagecreatetruecolor call and before imageco

[2015-03-12 07:35] comur commented on #39
Hi,

Thanks i will do it A.S.A.P.

[2015-04-12 09:33] yannbenichou commented on #35
Hello i having the same problem: "Uncaught SyntaxError: Unexpected token i" when I click on the "Edit" button where I included the image widget.

 I use the branch :  "comur/image-bundle": "1.0.*@dev"
and bootstrap 3.

In my layout I used {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %} since i'm already including a jq

[2015-04-12 09:50] yannskee opened #40 "Uncaught SyntaxError: Unexpected token i"
Hello i having this problem: "Uncaught SyntaxError: Unexpected token i" when I click on the "Edit" button where I included the image widget in my view.

I use the branch : "comur/image-bundle": "1.0.*@dev"
and bootstrap 3.

In my layout I used {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %} since i'm already including

[2015-04-12 11:44] yannskee commented on #40
I found the source of the problem. The issue is caused because I am using windows and the path generated by this :
public function getUploadRootDir()
{
    // absolute path to your directory where images must be saved
    return __DIR__.'/../../../../../web/'.$this->getUploadDir();
}
has backslashes instead of foward slash on Linux. So there is a conflict with Javascript and JSON.

This seemed to

[2015-04-12 11:45] evuez commented on #35
The issue is due to some escaping madness with windows paths...
So in [CroppableImageType#101](https://github.com/comur/ComurImageBundle/blob/e4947e244c17ef902e3ffd1810de5acfb181c866/Form/Type/CroppableImageType.php#L101) if your path looks like ```C:\\www\\uploads\\...```, it won't work and instead you'll have to double-escape every backslashes so that it looks like that: ```C:\\\\www\\\\uploads\

[2015-04-22 12:13] rafikck opened #41 "Gallery widget doesn't send data with selected images"
Hello,
Gallery widget doesn't send data with selected images. POST request doesn't have data with images. To database is saving empty array.

Can you help me with this issue?

[2015-04-23 14:31] rafikck commented on #41
problem solved! :)

[2015-04-23 14:31] #41 closed

[2015-04-29 09:31] davidromani opened #42 "placehold.io not working"
I have problems with this service. My include code is:

[code]

![captura de pantalla 2015-04-29 a les 11 24 57](https://cloud.githubusercontent.com/assets/698779/7388147/4bcd5a7c-ee63-11e4-96a1-d4fb359790b0.png)

[2015-04-29 09:34] davidromani commented on #42
My apologies, it was a cache mess

[2015-04-29 09:34] #42 closed

[2015-05-18 14:50] groobo opened #44 "Make crop rectangle fill the entire image"
Is there a way that the crop rectangle - by default, initially - simply fills the entire image? That way the crop action will be optional, whoever decides to do so.

Or, alternatively - is there a way to disable the cropping entirely?

[2015-06-25 23:34] ekittell opened #45 "upload doesn't work in IE10"
Nothing happens when you select a file.  I see where it calls _initIframeSettings in jquery.fileupload.js but that doesn't seem to do much.  In other browsers it doesn't call that method, it uses XHR upload instead and that seems to work fine.

edit: this is actually IE9 issue, it works with XHR in IE10

[2015-06-26 14:00] senprog opened #46 "Error 404 uplaod image"
Hello,
I have a problem to upload the image to the server. I have installed the bundle, pop up displays correctly when I selected an image, it is uploaded to the server, but in return it does not appear in the pop up.
Looking at the console I noticed an error in routing. The URL I use to upload the files is as follows:

http: //localhost/congo-job/cj-symf/web/app_dev.php/demo/imageTest/new

but in

[2015-07-12 17:44] fliespl opened #47 "Field not marked as error"
When using Assert/NotBlank on image field, the label is not colored and error isn't shown. Example of correct behaviour (title) and broken one (image):

http://codeone.pl/ss/ss-2015-07-12_19-42-55-001.png

[2015-07-27 11:39] vladislavs opened #48 "add disable crop option"

[2015-07-31 15:36] cafernandez opened #49 "Translation not working when destroy image"
A function in comur.imagelibrary.js is adding a text that is not translated.

function destroyImageManager(){
    $('#image_upload_file').fileupload('destroy');
    destroyJCrop();
    $('#image_crop_go_now').unbind('click');
    $('#image_preview').html('<p>Please select or upload an image</p>');
}

[2015-08-06 07:09] montu0074i opened #52 "Override uploadRoute Issue"
How can I change uploadRoute to my custom controller?

I have changed uploadRoute to my custom controller but it doesn't work.

$myEntity = $builder->getForm()->getData();

$builder->add('photoName', 'comur_image', array(
                    'uploadConfig' => array(
                        'uploadRoute' => 'custom_route', //optional
                        'uploadUrl' => $myEntity->getUploadRootDi

[2015-08-08 14:59] NajibOX commented on #40
thanks yannskee it work with me .

[2015-08-10 00:42] 5t3ff opened #53 "Jquery error : $(...).sortable is not a function"
Hi,

When I want to use the image gallery widget I get this error in the browser console. I have to download jquery ui and add it to the croppable_image_modal.html.twig template to get it work. I use jquery v2.1.4, I get this error event if I set the "include_jquery" parameter to TRUE. Don't think it's normal or if I've miss something ?

Thx

[2015-08-11 00:19] airtonfjunior commented on #14
I install but have the same error

Uncaught TypeError: undefined is not a function comur.imagelibrary.js:60
$('#image_upload_file').fileupload

can you help me?

[2015-08-20 12:37] FlashPanther commented on #44
I re-enable the cropping system in my forked repository :

[2015-09-07 10:28] AlexLwm opened #56 "Animated GIF support"
I have an error with size of gif.
In UploaderHandler  line 944 pingImage no return good value for width and height file
I test with this picture

![test](https://cloud.githubusercontent.com/assets/4696362/9714900/d12608b8-555b-11e5-9169-d2a467b42547.gif)

[2015-09-07 13:00] comur commented on #56
Hi @AlexLwm

Thanks for report but i never tester with animated gifs so it's not supported  for now. If you want to send a PR to implement it, no pb :)

[2015-11-04 10:09] guizm0b commented on #46
Hello,

Same problem here, the upload works fine but I can't manage to get the uploaded images after that (in the pop up).
The path looks like that : "http://localhost/uploads..." instead of something like that: "http://localhost/myfolder/web/uploads...".

Does anyone can help ?
Thank you.

[2015-11-12 19:48] jokari4242 commented on #47
+1

[2015-11-13 15:53] comur commented on #47
Hi,

Can someone make a PR for this issue ? If not, I will try to check it soon.

[2015-11-13 15:55] #38 closed

[2015-11-17 23:51] ruscon opened #58 "Working with sonata media"
Could this library potentially work with sonata media ?
May be as some extension as CoopTilleulsCKEditorSonataMediaBundle

[2015-11-18 08:36] comur commented on #58
Hi,

I created this bundle to use instead of sonata media (when it only concerns images) because I think that it's too complicated for just managing medias (keep it simple stupid).

If you want to try and send me a PR, I can check and merge it but I never tested the bundle with sonata media.

[2015-11-18 09:12] ruscon commented on #58
Ok, thx

[2015-11-18 09:12] #58 closed

[2015-11-18 09:22] anthonyherve opened #59 "Uncaught TypeError: $(...).fileupload is not a function"
Hello,

I have installed your bundle that is very great but I have a problem when I click on Edit button :
    Uncaught TypeError: $(...).fileupload is not a function

Here is my versions :
* bootstrap : 3.3.x-dev
* jQuery : 2.1.4
* ComuImageBundle : 1.0.*@dev

I include Twig like this :
{% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_boot

[2015-11-18 11:13] comur commented on #59
Hi,

Can you try to use master ? 1.0.* is not the latest release.

If it's not ok, can you check if you don't have another error before Uncaught TypeError: $(...).fileupload is not a function and before clicking on edit button ? I think maybe you include jquery at the end of your document and croppable_image_modal.html.twig needs it because of other depending libraries.

You can also try to use in

[2015-11-18 12:29] anthonyherve commented on #59
Hi,

Thanks for answer. Unfortunately, I tried to use dev-master, no effect. I include jquery and bootstrap and not myself, no effect.

Here is a part of HTML page :
[code]

I don't include jquery and bootstrap myself but it's not working.

I have no other error. It's very weird...

Have you another idea ?

[2015-11-18 12:43] comur commented on #59
And do you have any 404 in loaded files / scripts ? Can you check in inspector that you have all files successfully loaded ?

[2015-11-18 12:46] comur commented on #59
I think it's the same problem as #53 maybe related to jquery ui

[2015-11-18 12:56] anthonyherve commented on #59
No 404 error in loaded files / scripts as you can in this capture.
![loaded-files](https://cloud.githubusercontent.com/assets/1899492/11241553/fe4faffa-8dfb-11e5-92e4-6c06b09ff192.JPG)

I have already include jquery-ui file.

Maybe a problem of version ... ?

[2015-11-18 13:42] anthonyherve commented on #59
OK I found the problem. It's not from your bundle, but I did not think so. :-)
It's from another bundle which imports a jquery version and there was a conflict.

Thank you for your help and continue your good work with this bundle.

[2015-11-18 13:43] #59 closed

[2016-01-28 16:39] xmon opened #61 "jquery.Jcrop.js v2"
some news to update to the latest version jquery.Jcrop.js 2?

[2016-03-01 13:42] anthonyherve opened #64 "Compatibility with Symfony3"

[2016-03-01 16:40] antonskv commented on #64
I also looked into upgrading to Sym3.0 and this issue of deprecated code came from the check-list for upgrade.

Profiler shows this message:
_"DEPRECATED - Defining the getGlobals() method in the "comur_thumb_extension" extension without explicitly implementing Twig_Extension_GlobalsInterface is deprecated since version 1.23"_

I looked around and found that this should be an easy fix. I think the

[2016-03-01 22:03] antonskv commented on #64
@comur I never done major version upgrade for Symfony, so i'm still in process resolving all of my own code before getting it to work and some 3rd party bundles which are also pending update. But i'll write when i get it to work and i'll let you know the results.

[2016-03-04 12:46] anthonyherve commented on #64
Hi,
Here a first list of deprecated calls using Symfony 2.8

- The "pattern" option in file "/srv/www/symfony28/vendor/comur/image-bundle/Comur/ImageBundle/Resources/config/routing.yml" is deprecated since version 2.2 and will be removed in 3.0. Use the "path" option in the route definition instead. (3 times)  Show stack trace
- Comur\ImageBundle\Form\Type\CroppableImageType: The FormTypeInterface

[2016-03-04 14:13] anthonyherve commented on #64
I just created a pull request for compatibility : https://github.com/comur/ComurImageBundle/pull/65
I let you check if it's ok for you. :-)

Thanks.

[2016-03-04 17:59] antonskv commented on #64
@anthonyherve oooh, nice work dude. *thumbs up*

[2016-03-07 09:15] comur commented on #64
@anthonyherve thanks for this work !
@antonskv do you have time and ability to check it on a SF3 project ?

Thanks again, i will try to look ASAP and merge it.

[2016-03-07 13:02] anthonyherve commented on #64
I'm checking it on a SF3 project, but I have a little problem with version of jms/translation-bundle. The last stable version of this bundle is not compliant with SF3. So I put dev-master, but I have following problem :
"Invalid resource provided: "1.2"; Errors: [ERROR 1845] Element '{urn:jms:translation}reference-file': No matching global element declaration available, but demanded by the strict

[2016-03-07 21:39] antonskv commented on #64
@comur I'll try to find time to start fresh AWS instance and maybe do a clean Symfony 3.0 install and add your bundle + anthonys changes from the fork. I cant get composer through update with Symfony 3.0, as mentioned above there is a whole load of 3rd party bundles which are not up to date. Our main server still runs on PHP 5.4.x, i cant even test on it.

@anthonyherve Do you have translation bun

[2016-03-12 01:40] antonskv commented on #64
OK i have a AWS instance with clean PHP 5.7 and Symfony 3.0, i can just do a basic tests.

I dont mean sound stupid, but doing composer update won't work, since anothony's code is in separate bundle. I there i fancier way than just grabbing a zipball of his fork and dropping it in?

[2016-03-12 11:17] anthonyherve commented on #64
Cool news !
For your tests, I think you can clone my fork repo and add a local repo in your composer dependencies (read this article : http://marekkalnik.tumblr.com/post/22929686367/composer-installing-package-from-local-git).
Mayve you have to add "minimum-stability": "dev" in your composer.json for JMSTranslationBundle that is not stable yet.

Good luck !

I'm waiting for your answer. :-)

[2016-03-13 16:57] anthonyherve commented on #64
We have to add "prefer-stable" : true in composer.json to avoid downloading all dev versions of dependencies.
I corrected something in CroppableImageType : use setNormalizer method instead of setNormalizers.
For translations, I have same error. I have a solution but I'm not sur I can do it. It's to delete in all translation's files line jms:reference-file and xmlns:jms="urn:jms:translation" line 2

[2016-03-14 09:50] comur commented on #64
Hi, i will create a new branch for compatibility with SF3.
For translations, we can regenerate them all in command line to have a proper copy.

[2016-03-14 10:10] anthonyherve commented on #64
I tried to regenerate with command, but I have errors with JMSTranslationBundle. Can you try it on your side with branch symfony3 of my fork ?
Thanks.

[2016-03-14 18:34] antonskv commented on #64
@anthonyherve Does this run successfully? **bin/console translation:update en ComurImageBundle --force --output-format xlf **

This Symfony 3 is a major pain in the butt, i cant even partially transfer our dev site to Symfony 3. I think i just code fresh controller, Entity and fresh Symfony form to test this. I can't get anything to work, 'cause one 3rd party bundle catches on other and they all h

[2016-04-11 13:12] GrosJob commented on #64
I tryed the 1.3 Branch on a new symfony3 project.
The form is successfuly created, but the 'Edit' button Does not do anything. Does it have something to do with Sf3?
![capture](https://cloud.githubusercontent.com/assets/14979269/14428089/d21a03a4-fff7-11e5-886d-2fdfd2634ad5.PNG)

[2016-05-07 17:50] georgesamy commented on #4
Is this enhancement abandoned? And if so, what were your plans on achieving it? I'm asking because I need this enhancement and planning on working on it.

[2016-05-09 09:08] comur commented on #4
Hi @georgesamy
No it's not abandoned but not really had time for that, if you can work on it and send me PR I can merge it

[2016-05-16 19:30] chrislebaron opened #69 "Generates filename when i use 'generateFilename' => false"
Here is my entityType.php code

`->add('imgName', 'comur_image', array(
                'uploadConfig' => array(
                    'generateFilename' => false,
                    'showLibrary' => false,
                    'uploadUrl' => $myEntity->getUploadRootDir(),
                    'webDir' => $myEntity->getUploadDir(),
                    'fileExt' => '*.jpg;*.gif;*.png;*.jpeg',

[2016-05-17 08:05] comur commented on #69
Hi @chrislebaron

Can you check version of the bundle you use pls ?
You must use dev-master to have this parameter

[2016-05-17 14:17] chrislebaron commented on #69
Don't I feel sheepish... I wasn't on dev, I was on 1.1

[2016-05-17 14:17] #69 closed

[2016-05-19 14:34] NadaBen opened #70 "croppable_image_modal.html.twig don't work"
Hello, when i add {% include "ComurImageBundle:Form:croppable_image_modal.html.twig"%} it shows me nothing and when i add {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}   it works without style, how to fix that please ?

[2016-05-19 15:00] comur commented on #70
Hello @NadaBen

Please check inspector errors and send me what you have as error. You can also check inspector when you click on button to see if you have any error (JS, 404...)

[2016-05-19 15:05] NadaBen commented on #70
How can i check inspector errors please ?

[2016-05-19 15:39] comur commented on #70
[https://www.google.fr/search?q=webkit+inspector&ie=utf-8&oe=utf-8&gws_rd=cr,ssl&ei=1t09V5rAJoGTadXinsgP#newwindow=1&q=browser+inspector](https://www.google.fr/search?q=webkit+inspector&ie=utf-8&oe=utf-8&gws_rd=cr,ssl&ei=1t09V5rAJoGTadXinsgP#newwindow=1&q=browser+inspector)

[2016-05-19 17:19] NadaBen commented on #70
![capture](https://cloud.githubusercontent.com/assets/11770242/15402879/9f341ac0-1df6-11e6-8976-3ad9badbf5b5.PNG)

[2016-05-20 08:37] comur commented on #70
You need to look at console and network to see errors

[2016-05-20 09:11] NadaBen commented on #70
it shows me nothing

[2016-06-02 08:33] halhnini opened #71 "edit image already saved"
Hi
i want to edit image profile using ComurImageBundle but i don't know what should i write is any documentation or any code already used.thanks

[2016-06-02 08:46] comur commented on #71
Hi @halhnini

You can start by reading [Usage section in README](https://github.com/comur/ComurImageBundle/blob/master/README.md#usage)

[2016-06-02 08:46] #71 closed

[2016-06-02 08:53] halhnini commented on #71
Hi,
Thank you for your help @comur ,i already use it and it works fine but now i need to make like the first capture
![com](https://cloud.githubusercontent.com/assets/12613432/15739404/cf6f2e62-28a7-11e6-9042-59adec0f586a.png)

[2016-06-02 09:01] halhnini opened #72 "edit image already saved"
Hi,
Thank you for your help @comur ,i already use it and it works fine but now i need to make like the first capture
![com](https://cloud.githubusercontent.com/assets/12613432/15739652/ef623a56-28a8-11e6-8dcf-f5c22a06d72b.png)

[2016-06-02 09:20] comur commented on #71
You simply use your field in your form template (twig file) as a regular field, ex:
`
{{ form_widget(image) }}
`

[2016-06-02 12:22] halhnini commented on #71
ok,but how to set the field image by the path image from entity field,
thank you.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DDB4FAA8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 2 June 2016 at 10:2

[2016-06-07 23:28] goose74 opened #73 "Failed to load resource: the server responded with a status of 404 (Not Found)"
Hi thank for your work @comur

Everything looks ok for me but still I have a 404 error  :

Upload seems to work, file is on the server at the right place with the getUpload method on my Entity.

But the view doesn't show it to me:

<img width="1440" alt="capture d ecran 2016-06-08 a 01 27 54" src="https://cloud.githubusercontent.com/assets/7041923/15878058/4a27c456-2d18-11e6-9887-b342a45b6163.png"

[2016-06-08 07:53] comur commented on #73
Hi @goose74
I depends on how you configured your web server, what is your project's home url ? http://localhost/myproject ?
I suggest you to configure a vhost (apache / nginx) to have a host for your project like myproject.localhost for ex. Like this you can have a config similar of production

As a workaround (but it's dirty and not recommended as it won't work on production env) you can change g

[2016-06-08 07:53] #73 closed

[2016-06-08 15:37] kikdu opened #74 "Could not load type "comur_image""
Hello

I am following the usage instructions (Image Widget) and I got this error when I try to load my page.

Which "use" do we need for the form ?

My form :

    namespace Comur\ImageBundle\Form;

    use Symfony\Component\Form\AbstractType;
    use Symfony\Component\Form\FormBuilderInterface;
    use Symfony\Component\OptionsResolver\OptionsResolver;

    class ImageType extends AbstractType

[2016-06-09 08:08] comur commented on #74
Hi @kikdu
I think you have misunderstood something because you are trying to create a form inside ComurImageBundle (namespace) but you should do it inside your own bundle / project
If you have an error, Could not load type "comur_image", it means that you did not properly installed the bundle, can you send us your AppKernel, config.yml and composer.lock pls ?

[2016-06-09 10:46] kikdu commented on #74
edit : sorry for the code. I dont manage to put it with indentation.

Hi, thanks for your answer.

AppKernel :

    use Symfony\Component\HttpKernel\Kernel;
    use Symfony\Component\Config\Loader\LoaderInterface;

    class AppKernel extends Kernel
    {
        public function registerBundles()
        {
            $bundles = [
                new Symfony\Bundle\FrameworkBundle\FrameworkBundle(

[2016-06-10 08:07] comur commented on #74
Did you try to clear you cache because form me everything is ok

[2016-06-20 19:43] yumoraes opened #76 "help. I can not make it work. Not appear the button to add image."
My code:
Controler:
`    /**
     \* @Route("/pacote/novoPacote", name="friendstrip.app.pacotes.novoPacote")
     \* @Template("FriendstripAppBundle:Pacotes:novoPacote.html.twig");
     */
    public function novoPacoteAction(Request $request)
    {
        $pacote = new AppBundle\Entity\Pacote();

[code]

//                    'showLibrary' => true,                      //optional
//

[2016-06-22 09:03] Etter opened #77 "Could not load type "comur_image""
Hi,
First thanks for your job ....
I have issues to install the bundle on Symfony 3.1.1
In the composer.json i use to add :
 -->       "jms/translation-bundle" : "dev-master",
 -->       "comur/image-bundle": "1.3.x-dev"

**in Config.yml :**
`comur_image:
    config:
        cropped_image_dir: 'cropped'
        thumbs_dir: 'thumbnails'
        media_lib_thumb_size: 150
        web_dirname: 'web'

[2016-06-22 11:09] Etter commented on #77
ok, i find ... i did not read the good documentation ... Brench 1.3 ...
I use CroppableImageType::class in my FormType ... it's ok

[2016-06-22 11:09] #77 closed

[2016-06-22 11:11] Etter commented on #74
Hi,
In your class ImageType  try to put
`use Comur\ImageBundle\Form\Type\CroppableImageType;`

and use CroppableImageType::class like

->add('image', CroppableImageType::class, array(

[2016-06-23 08:17] comur commented on #76
Hi @yumoraes
please check in your web inspector to see if you have any 404 or JS errors. I think it's an asset issue

[2016-06-23 09:27] YuriyKvit commented on #72
+1

[2016-06-23 09:34] #70 closed

[2016-06-23 09:35] #53 closed

[2016-06-23 09:38] comur commented on #46
Hi, it's the same problem as issue #73

[2016-06-23 09:38] #46 closed

[2016-06-23 10:22] joskewie commented on #64
Anyone got this bundle working with symfony3?
I used the 1.3 branch, and followed regular installation instructions but still got a:  **Could not load type "comur_image"** error in my formbuilder...

[2016-06-23 11:10] comur commented on #64
Hi @joskewie
You need to use
`->add('image', CroppableImageType::class, array(...`
as described in 1.3 readme

[2016-06-23 12:44] joskewie commented on #64
aha thanks! checked the wrong readme indeed, works now

[2016-06-28 13:44] kikdu commented on #74
Hi,
I tried to clear cache nut it doesnt change anything.

I tried the solution with CroppableImageType::class and now the error message is "Could find type Text"

[2016-06-29 14:19] kikdu opened #78 "Nothing happens when clicking on "Add image" button"
Hi,

When I click on "Add image", nothing happens.

In my web inspector I have this JS error :

In my view I have added

`{% include "ComurImageBundle:Form:croppable_image_modal.html.twig"%}`
`<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>`
`<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>`

and I linked jquery, jquery ui, ... so

[2016-06-30 14:27] kikdu commented on #78
Ok it's because i'm on Windows.

On windows there is a problem with the / and the \ .

I have seen here that somebody had the same issue but it was 2 years ago and his solution doesn't work with 1.3.

Can we work with ComurImageBundle 1.3 on Windows ? For development phase.

[2016-07-04 05:13] glerendegui commented on #53
Hi.
I have faced this problem too. I have started a new project from scratch. The main problem seems to be that this bundle is not including jquery-ui sortable javascript, only the widget one.
Worked after download jquery-ui.js (with sortable plugin) and be added to croppable_image_modal.html.twig like this:

<script src="{{ asset('bundles/app/js/jquery-ui.js') }}"></script>
<script src="{{ asset(

[2016-07-19 13:14] sunandang opened #79 "Compatibility with s3fs to upload to S3 bucket ..."
Hi -
This is not working if I want to upload images directly into an S3 bucket mounted on my EC2 instance using s3fs.

Have you tested it?

[2016-07-23 23:56] paulmonty commented on #76
@comur your solution looks great, but I struggle to install it in Sonata.

I got a lot of 404s
![zrzut ekranu 2016-07-24 o 01 51 17](https://cloud.githubusercontent.com/assets/20618556/17080885/66288fee-5141-11e6-8b9c-921aceffede9.png)

and my field looks like this
![zrzut ekranu 2016-07-24 o 01 51 27](https://cloud.githubusercontent.com/assets/20618556/17080884/65fbd3d2-5141-11e6-9a00-2b5a69a035e

[2016-07-30 12:19] ZIMkaRU commented on #78
`public function getUploadRootDir()`
`    {`
`        // absolute path to your directory where images must be saved`
`        $dir = strtoupper(substr(PHP_OS, 0, 3)) === 'WIN' ? str_replace('\\', '/', __DIR__) : __DIR__;`
`        return $dir.'/../../../../web/'.$this->getUploadDir();`
`    }`

[2016-08-23 12:07] kikdu commented on #78
Thanks ! The upload window pops up correctly now.

But when I upload an image I have :

GET
http://localhost/images/gallery/thumbnails/0028febdef65f75ccb123aa9a328489c2e31f0a4.jpg [HTTP/1.1 404 Not Found 5 ms]

On my JS console.

Somebody knows why ?

My standard url is http://localhost/Symfony3/web/app_dev.php/index

[2016-08-23 16:21] antonskv commented on #79
I have tried that myself, but s3fs seems to be a bit laggy when you mount a bucket with a huge load of images. I wondered that it might affect server boot time and general performance.

That's why i chose to just do manual AWS S3 API upload inside the Controller. It works fast and not too many issues.

[2016-08-23 17:53] antonskv opened #80 "Security Vulnerability: Browser-Side config params"
Hi Contributors,

I checked 1.3 version branch to make sure it wasn't already fixed. But our penetration test team has discovered a vulnerability which exposes the server to good amount of security concerns. I fixed it by just quickly modifying the source code. I will describe it here including the quick fix. It will need to be done more elegantly, but it will give the general idea. Hope it's usef

[2016-08-23 18:33] antonskv commented on #80
Oh small addition, it probably better to remove the file in same spot in case it turned out not to be an image:

[code]

And inside crop action:

[code]

NOTE: There is a way around this function as well. Maybe there should be more extensive MIME type checking and so on to make it more secure.

[2016-08-27 19:34] ZIMkaRU commented on #78
The URL should be http://localhost/Symfony3/app_dev.php/index

[2016-08-27 19:42] ZIMkaRU commented on #78
Add ".htaccess" file in the root of the project with the code:
[code]

[2016-08-29 07:53] kikdu commented on #78
Thanks it's ok !

[2016-08-29 10:02] comur commented on #80
Hi @antonskv

Big issue in fact, I did never think about it, we should change this ASAP.
I will try to find a way to get these urls from entity or form type (and not only from config because it can be different than default values).
Tell me if you see a way to do it quickly

Thanks

[2016-08-29 16:48] antonskv commented on #80
@comur No, you can use config file params. Default values are overridden inside main symfony config.yml, no? So if person wants to change the defaults they override the comur_image configs in their own configuration.

So i have web dir override inside my own symfony's config.yml:

[code]

So anywhere you pull "comur_image.config.web_dirname" parameter will return the value i set with the override,

[2016-08-30 07:01] JuanWilde commented on #76
Try to perform a "php app/console assets:install --symlink" and it should work

[2016-08-30 09:58] JuanWilde opened #81 "Division by Zero when "Crop And Save" button is pressed"
I'm using this awesome bundle and apparently all is fine. But when I press the Save button I get this error
![image](https://cloud.githubusercontent.com/assets/6040385/18084831/031d2e5c-6ea9-11e6-91bc-01cdc86cbc4d.png)

The same in line 343
![image](https://cloud.githubusercontent.com/assets/6040385/18086747/b34e91f0-6eb1-11e6-866a-769ace6bb05d.png)

Any idea?

[2016-08-31 13:19] kikdu opened #82 "how to translate"
Hello

How do we do to translate the bundle ?

If I want to put it in french I have to change

translation_domain: 'ComurImageBundle'

to

translation_domain: 'fr'

?

And apart from that we have to do something with the translation-bundle that we have installed in the same time of ComurImageBundle in the composer ?

Thanks!

[2016-08-31 13:29] comur commented on #82
Hi @kikdu

French translation already exists in the bundle so you just have to use it by putting your locale to 'fr'.
If you want to be able to switch between two or more languages, you can do it like this:
http://stackoverflow.com/questions/17243426/change-locale-symfony-2-3

For more info about translation domain and other stuff: http://symfony.com/doc/current/components/translation.html

[2016-08-31 13:29] #82 closed

[2016-08-31 13:31] comur commented on #76
@paulmonty is it ok with @JuanWilde 's solution ? can we close this issue ?

[2016-08-31 13:33] comur commented on #81
Apparently there is a problem with your image or you selection but anyway we should put a check on srcH and destH to be sure that it's > 0
Can you check these values by adding a var_dump or something ?

[2016-08-31 13:33] #78 closed

[2016-08-31 13:34] #74 closed

[2016-08-31 15:42] JuanWilde commented on #81
Yes. What I did is to check if those values were > 0 and it worked for me.
I'm checking some issues like this and hope to have time to do a fork an PR

[2016-09-01 08:28] comur commented on #81
Cool, thanks for your help !

[2016-10-07 10:27] LeoHugues commented on #4
Hi, I have an issue when I try to add multiple fields (comur_image or comur_gallery) in my FormType. I think it's Js problem because only the first field can open modal.
Do you know somethings about it ?

@georgesamy, @comur.

[2016-10-10 09:14] comur commented on #4
Hi @georgesamy
Can you send us some screenshots or error debug with inspector ? I think also that you have a JS issue and must see error in inspector

[2016-10-12 18:46] glerendegui commented on #64
There's still a bug at https://github.com/comur/ComurImageBundle/blob/1.3/Form/Type/CroppableImageType.php line 44.
'text' must be changed to  TextType::class as in line 49

[2016-10-19 12:43] ignas3run commented on #40
I had the same problem. Please update documentation. It took me some time to find an answer. Thank you yannskee!

[2016-10-19 13:50] ignas3run opened #83 "Unsuccessful upload without response"
Whenever I try uploading file, progress bar stops at the end and nothing happens. Browser console is not giving any errors. Anyone know what might cause the problem?

`{% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}`

I have my own bootstrap and jquery included before the modal in head tag.
![screenshot 2016-10-19 15

[2016-10-19 14:20] ignas3run commented on #83
In the end after some waiting I got response:

I suppose it has to be a file that was being uploaded

[2016-10-19 15:25] #83 closed

[2016-10-21 13:54] ignas3run commented on #80
Any news on this issue?

[2016-10-28 09:47] Bigg-Mike commented on #72
+ 1

[2016-11-01 10:00] SunDr17 opened #84 "Clearing attr parameter by your own"
In the CroppableImageType class in buildForm buildView there is setting $view with attr wich replace my attributes only by styles. I think that you should merge existing attributes.
![comur](https://cloud.githubusercontent.com/assets/12720040/19886500/7f8d4ce4-a034-11e6-9b65-c6006616303c.png)

[2016-11-19 22:35] thelem opened #85 "Using on a non-bootstrap website"
This bundle looks to be exactly what I'm after, but my website doesn't use bootstrap for its layout.

If I include the template using:

{% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}

then I see the contents of the modal at the top of the page as soon as the page loads. If I remove the 'include_bootstrap': false then

[2016-11-21 09:05] comur commented on #85
Hi @thelem
Yes it's a dependency. But you can remove it and create a css to style it by yourself, I think it's a bit of work but possible. You need to hide the modal at the beginning and use bootstrap classnames (already used on components) to style them properly

[2016-11-23 11:56] Flo-Slv opened #86 "Limit (or extend) size in MO of upload picture"
Hi everybody,

is there a special config to limit (or extend) the size (in MO) of upload picture?

Thanks for this bundle! :-)

From France

[2016-12-04 11:47] Alilou24 opened #87 "Error: Call to a member function getUploadRootDir() on null"
Hi,
I have this error:
Error: Call to a member function getUploadRootDir() on null
500 Internal Server Error - FatalErrorException

from symfony when I do this:
$picture = $builder->getForm()->getData();

I've tried many things but I didn't work.

Thanks.

[2017-01-03 21:24] wiejakp opened #88 "filesystem"
does this bundle easily integrate with filesystems? Such as FlySystem, etc.

[2017-02-16 16:06] elgui02 opened #90 "Maximum call stack size"
Hi, have a little trouble when i try uses the bundle on the consoje i has a this messege: " Uncaught RangeError: Maximum call stack size exceeded. " this messages is in every trigger on the dialog of bundle, do you have any idea how to fixed? thank you

[2017-02-21 11:52] ofeugret commented on #80
Hello and thank you for this bundle,
I would like to use the 1.3.*@dev version for a Symfony3 app, is it possible for you to fix these critical issues?

[2017-03-23 21:48] christophe-44-27 opened #92 "Vendor bundle"
Where are the other libraries ? I've follow all the steps, but somethings are missing, as jCrop lib, fileupload lib etc.

And i had to explore the template to see that i had a button to place for calling the modal...Could you be more explicit on your doc ? Thanks

[2017-04-19 06:07] toullec opened #95 "Problem with datepicker and comurimage bundle"
Hello,

I have problem with my comurimage bundle and my datepicker. When I include comurimage bundle, datepicker is not recognized in the console "datepicker() is not a function", and when I include comurbundle after datepicker function, I have an error about fileupload.js in the console but datepicker is recognized and works

Uncaught TypeError: $(...).fileupload is not a function
    at initiali

[2017-04-21 14:16] deniswoeffray opened #97 "Set input class"
Hello !

Thank you for your bundle, it's a very nice tool.

I just have a problem to set the input class.

Here is my config

[code]
Sadly I can't find my class the input on the view.

`'attr' => array('class' => 'img fullwidth')`

Can someone help me ?

Thank you ! :)

[2017-04-25 14:50] julianomcl opened #98 "conflict with requirements symfony form (composer)"
When I try to update composer I get a conflict message:

"comur/image-bundle 1.0.2 requires symfony/form ~2.2 -> [..] but these conflict with your requirements or minimum-stability."

I am using Symfony 3.2 with Symfony/Form 3.2. Is not possbile to use this component with these requirements?

Thanks

[2017-05-08 14:46] yoyo770 opened #99 "Amélioration du module"
Hello,

I use your module which is pretty well done, but I notice several things to improve as well as several bug.

Improvement:

1. You can not upload multiple images at the same time.
2. The image movement is not adapted to the tactile support.
3. Images are not removed from the server when it is removed from the server.
4. the images are too heavy and duplicate in several files (cropped ...) w

[2017-05-31 21:20] thelem opened #104 "Remove dependency on dev/master of jms/translation-bundle"
#64 made us depend on dev/master of jms/translation-bundle, as at the time there were no releases that were compatible with Symfony 3.

Since then, 1.2.2 has been released, including Symfony 3 support, see https://github.com/schmittjoh/JMSTranslationBundle/releases

We should therefore change the minimum version to requirement to 1.2.2.

[2017-05-31 21:33] thelem commented on #104
Opened #105 to fix this

[2017-06-04 09:23] 7tomas7 opened #106 "JSON Parse Symfony 3"
Hi.
Something is wrong with JSON.
I line:
`                var options = $.parseJSON('{"uploadConfig":{"uploadRoute":"comur_api_upload","uploadUrl":"C:\\wamp64\\www\\premade\\src\\PremadeBundle\\Form\/..\/..\/..\/..\/..\/web\/uploads\/myentity","webDir":"uploads\/myentity","fileExt":"*.jpg;*.gif;*.png;*.jpeg","libraryDir":"C:\\wamp64\\www\\premade\\src\\PremadeBundle\\Form\/..\/..\/..\/..\/..\/web

[2017-07-21 11:48] bhss opened #107 "Does the bundle support ajax? drag and drop feature?"

[2017-07-21 12:09] #107 closed

[2017-07-21 13:08] bhss opened #108 "Unexpected token U in JSON at position 66"
I'm using comur/image-bundle                   1.3.x-dev f5d2237
Symfony 3.2.12
I'm facing a problém when i click on edit nothing works right,
This is my console js log:
[code]

[2017-07-21 13:11] bhss commented on #108
Solved:
public function getUploadRootDir()
{
// absolute path to your directory where images must be saved
$dir = strtoupper(substr(PHP_OS, 0, 3)) === 'WIN' ? str_replace('\\', '/', __DIR__) : __DIR__;
return $dir.'/../../../../web/'.$this->getUploadDir();
}

[2017-07-21 13:11] #108 closed

[2017-07-21 13:40] ahmed-bhs opened #109 "data.result.image_upload_file is undefined in comur.imagelibrary.js:67:1"
I'm using comur/image-bundle 1.3.x-dev f5d2237
Symfony 3.2.12
th problém that after the progress bar finish i got this execpetion witout processing the upload:

Index.html.twig:
[code]
by the way `console.log(data.result);` in lign 67 : `comur.image.library.js` give me this result :
[code]

@epidoux  @comur  @lexxpavlov  @JarJak : some help plz

[2017-07-21 14:31] bhss commented on #83
How you solve you'r problèm i'm facing the same ??? some help here plz @ignas3run

[2017-07-24 20:27] ignas3run commented on #83
@bhss I deleted the bundle since I couldn't figure it out.

[2017-08-24 13:10] emottet commented on #33
Hi. Same question here. Indeed, by commenting `width: 850px;` in `comur.image_bundle.css`, it works just fine on smartphones.
Cheers,
Emmeline

[2017-09-14 07:52] comur commented on #33
Hi,
Is it also ok on desktop when commenting fixed width ? if so, can you send a PR please so I can merge ?
Thanks
Cheers

[2017-10-02 16:59] MarwenBenTalebAli opened #110 "How to upload a simple Image widget with ComurImageBundle?"
I'm trying to upload a image using ComurImageBundle.

Im using Symfony 3 and 1.3 branch for ComurImageBundle.

My problem:

**I can not insert an image and the edit button does not work.**

I followed the instructions from here:[ComurImageBundle][1]

Image Entity:

    <?php
    namespace GE\CandidatBundle\Entity;

    use Symfony\Component\HttpFoundation\File\UploadedFile;
    use Doctrine\ORM\Ma

[2017-12-01 09:49] is3kk opened #112 "unable to upload on php7.1 due to notice"
Hello,

I was unable to complete upload of an image when using sonata-admin on php7.1 . Problem i found was

i fixed it by adding a line
$val = substr($val, 0, -1);

function get_config_bytes($val) {

`

and it works fine after this.. BTW i think it should be like 1024*1024 in case of Mb an so on, but nwm..

So maybe it helps someone else.

[2017-12-13 12:34] emottet opened #113 "Support of Symfony 4.0"
Hi, this bundle doesn't support Symfony 4.0. is an evolution planned? Have a nice day.

[2018-02-03 16:45] aimadghssisse opened #114 "how upload image to database any help please!!"
how upload image to database any help please!!
i do all conficuration but relation between comurImage and data do not

[2018-03-07 21:22] OumaymaBa opened #115 "Nothing happens when selecting an image"
Hi,

When I select image, nothing happens.

In my web inspector I not have any error.

Any idea ?

[2018-05-15 14:37] DeepSnowNeeL commented on #112
I have the same problem, and fixed it the same way..

[2018-07-13 12:54] KhatanaVikas commented on #115
Yea,
The same is happening to me.
This happens if an image greater than post_max_size is uploaded  ,then an error is logged saying call to getClientOriginalName() on null.

There seems to be no validation in this bundle when someone tries to upload a large size image or other file.
We cannot even add custom validation at front end before request to upload is sent

@comur : Please find a fix for th

[2018-07-19 07:08] comur commented on #113
Hi,
For now I don't have any time so if someone would help (as did for SF 3) I can merge it on a new branch. Otherwise I cannot promise any planning

[2018-07-19 07:10] comur commented on #112
Hi,
Thanks for this workaround, maybe you can create a PR with a retrocompatible code ?
Thanks

[2018-07-19 07:11] #104 closed

[2018-07-19 07:15] comur commented on #99
Hi @yoyo770
Thanks for the list
I thing there are some more I can add to this list but the problem is I never have time to add any improvement so as you purpose your help I can only accept it.
Would you create a first PR to correct some of bugs ?
Thanks

[2018-07-20 06:40] yoyo770 commented on #99
Bonjour,

Ce bundle est le seule que j'ai pu trouver qui gere bien les galeries d'image sur symfony. ce serait vraiment dommage de le laisser a l'abandon. en ce moment je n'ai pas beaucoup de temps de disponible. Mais dès que je peux je vous enverrez des correctifs.

Merci.

Envoyé de mon Galaxy S7 edge Orange

-------- Message d'origine --------
De : Can OMUR <notifications@github.com>
Date : 19/

[2018-07-20 09:12] comur commented on #99
Bonjour,

Merci.

Can OMUR
omur.can@gmail.com
+33 (0)6.79.66.58.28

2018-07-20 8:40 GMT+02:00 yoyo770 <notifications@github.com>:

[2018-07-27 06:48] localheinz opened #116 "Can we have a new release?"
While it appears that this repository isn't active much, it has been a while since we have had a release - maybe we can have one soon?

See https://github.com/comur/ComurImageBundle/compare/1.1.0...master.

[2019-05-23 13:59] comur commented on #116
Hi @localheinz
Yes, I'm finally coming back after a while... Didn't have much time
I will create a new release with some bugfixes and create a changelog too. I have a new project I'm working on and will use this bundle so I can fix some bugs !

[2019-05-23 14:01] #116 closed

[2019-05-23 14:03] comur commented on #114
Persisting in db is done by the ORM so you just have to define a property in your entity and configure it to save to DB (like any other column).
See https://github.com/comur/ComurImageBundle#image-widget at the bottom I explain how to define it :
`// YourBundle\Entity\YourEntity.php

…

/**
 * @ORM\Column(type="string", length=255, nullable=true)
 */
protected $originalImage;

…`

[2019-05-23 14:03] #114 closed

[2019-05-23 14:06] comur commented on #110
Hi,
sorry for answering almost 2 years after !!!
Did you fix your problem ? Can I close this issue ? Reopen it if you need more info / help pls.

[2019-05-23 14:06] #110 closed

[2019-05-23 14:08] #11 closed

[2019-05-23 14:08] comur commented on #113
Working on it now

[2019-05-23 14:09] comur commented on #99
I close this issue, please open a new one if you need

[2019-05-23 14:09] #99 closed

[2019-05-23 14:17] comur commented on #98
Hi
you should use 1.3 branch, please open new issue if not ok

[2019-05-23 14:17] #98 closed

[2019-05-23 14:29] comur commented on #109
Sorry I think it's too old, I close, please open a new issue if you still have any problem

[2019-05-23 14:29] #109 closed

[2019-05-23 14:31] comur commented on #79
@sunandang @antonskv
Do you want to add a feature to directly bind the bundle to S3 ? I don't have any case to test so...

[2019-05-23 14:31] comur commented on #97
Sorry I think it's too old, I close, please open a new issue if you still have any problem

[2019-05-23 14:31] #97 closed

[2019-05-23 14:32] comur commented on #86
Will work on it, if you want to send a PR to go faster, go on !

[2019-05-23 14:33] #85 closed

[2019-05-23 14:35] comur commented on #88
Never tested, did you finally tried ?

[2019-05-23 15:11] antonskv commented on #79
With requirement of "aws/aws-sdk-php" in composer, you can do this inside upload controller. Obviously inside TRY and CATCH block to see if the upload went through. S3 Client will throw an error on putObject if something is wrong.

[code]

Why i commenting with a sample code response, is cause i never actually done a real code contribution to somebody elses' repo in github.... I wouldn't know how.

[2019-05-25 11:02] comur commented on #79
Hi @antonskv
Thx for your code.
I don’t know if we can add some code with an optionally included package. I will take a look.
For contributing, you just need to fork this repo, push your code on your fork and create a pull request on github from your fork to original repo.
Tell me if you can do it so we can have you between contributors ;)
Thx

[2019-05-28 01:53] wiejakp commented on #88
I did not follow that rabbit hole. Since it didn't have native integration i pursued solution that better fit my needs. Thank you.

[2019-05-28 01:53] #88 closed

[2019-05-30 18:12] comur commented on #113
Latest version fully supports sf4

[2019-05-30 18:12] #113 closed

[2019-05-30 18:14] comur commented on #106
Too old. I close. Feel free to open new issue if you have any problem

[2019-05-30 18:14] #106 closed

[2019-05-30 18:14] comur commented on #95
Too old. I close. Feel free to open new issue if you have any problem

[2019-05-30 18:14] #95 closed

[2019-05-30 18:15] comur commented on #92
I updated docs. Closing

[2019-05-30 18:15] #92 closed

[2019-05-30 18:16] comur commented on #90
Too old. I close. Feel free to open new issue if you have any problem

[2019-05-30 18:16] #90 closed

[2019-05-30 18:16] comur commented on #87
Too old. I close. Feel free to open new issue if you have any problem

[2019-05-30 18:16] #87 closed

[2019-05-30 18:18] comur commented on #81
Too old. I close. Feel free to open new issue if you have any problem

[2019-05-30 18:18] #81 closed

[2019-05-30 18:19] comur commented on #76
Too old. I close. Feel free to open new issue if you have any problem

[2019-05-30 18:19] #76 closed

[2019-05-30 18:20] comur commented on #72
Please check with the last release

[2019-05-30 18:20] #72 closed

[2019-05-30 18:21] comur commented on #64
Please check with last release

[2019-05-30 18:21] #64 closed

[2019-05-30 18:22] comur commented on #56
I will work on it next week

[2019-05-30 18:24] comur commented on #45
Too old. I close. Feel free to open new issue if you have any problem

[2019-05-30 18:24] #45 closed

[2019-05-30 18:25] comur commented on #44
I think its the default behavior now. I close

[2019-05-30 18:25] #44 closed

[2019-05-30 18:27] comur commented on #40
It’s not necessary now since someone sent a PR for this problem. I close it

[2019-05-30 18:27] #40 closed

[2019-05-30 18:28] comur commented on #39
Too old. I close. Feel free to open new issue if you have any problem
I think it’s ok with last release

[2019-05-30 18:28] #39 closed

[2019-05-31 07:43] #33 closed

[2019-05-31 07:46] comur commented on #112
This is a bug introduced with one of the PR changing:
[code]

to

[code]

It's not merged on latest releases so I close it

[2019-05-31 07:46] #112 closed

[2019-05-31 12:40] #49 closed

[2019-05-31 12:40] #84 closed

[2019-05-31 12:40] #86 closed

[2019-05-31 13:18] #47 closed

[2019-05-31 13:20] comur commented on #61
Hi @xmon
With a "little" delay, I checked this and it would be very complicated to go on with V2. I updated to the latest version of jcrop 0.x. v2 uses different api.
For now I won't fix it, if you have a special need that we cannot do with this version, please open another issue describing your needs.

[2019-05-31 13:20] #61 closed

[2019-05-31 15:03] #80 closed

[2019-06-02 19:53] #48 closed

[2019-06-02 20:18] #56 closed

[2019-06-02 20:19] comur commented on #56
Fixed but needs Imagick to work. If you don't have Imagick installed, it will return not animated image as GD does not manage multi frame images

[2019-06-03 17:53] comur opened #120 "Add alt text for image"
Optionally ability to insert an alt text for image

[2020-01-05 23:30] thelem opened #121 "Symfony flex support"
I have been moving my application from Symfony 3 to Symfony 4 with Flex, but that gives me the error

The stack trace shows this coming from my template

`{{ form_start(form) }}`

Doing some digging, the offending line is actually in comur\image-bundle\DependencyInjection\Compiler\FormPass.php

If, as suggested, I change the line
`        $template = "ComurImageBundle:Form:croppable_image_modal.ht

[2020-01-05 23:58] thelem commented on #121
I've made those code changes at https://github.com/thelem/ComurImageBundle/tree/thelem/121

I'll do more testing before opening a pull request. The readme will also need to be updated.

[2020-01-06 14:40] comur commented on #121
Hi @thelem
Thanks for this work. It's weird as I already use it with SF 4.3 on 2 other projects without any issue... But I understand that it causes a problem as template path specification has been changed from 3.4 so I let you send the PR and I will merge it.
Thx

[2020-04-13 22:20] thelem commented on #121
Symfony wasn't picking up the routing file unless I manually include it. I've added instructions to the readme to do this, based on the instructions provided for FOS JS Routing at https://symfony.com/doc/master/bundles/FOSJsRoutingBundle/installation.html

[2020-05-09 20:27] #121 closed

[2020-05-09 20:38] thelem opened #123 "Deprecation error in Symfony 4.3"
After upgrading Symfony I see this warning in the console:

This is due to the change at https://github.com/symfony/symfony/pull/27476

We need to maintain compatibility with Symfony 3 and 4.2, so suggested fix is:

$treeBuilder = new TreeBuilder("my_node");
$rootNode = method_exists($treeBuilder, "getRootNode")
    ? $treeBuilder->getRootNode()
    : $treeBuilder->root("my_node"); // BC layer for

[2020-05-10 12:01] thelem commented on #123
I am also seeing this warning (only occurs immediately after clearing cache)

Reviewing the docs I can see the apply tag was introduced in Twig 1.40 and 2.9
https://twig.symfony.com/doc/1.x/tags/apply.html
https://twig.symfony.com/doc/2.x/tags/apply.html

Currently the bundle's composer.json defines:

```"twig/twig": "~1.35 || ~2.5",```

Which is too old for use to switch to apply. However, we dep

[2020-05-10 12:31] thelem commented on #123
Third deprecation:

The namespaced version has been available since twig 1.34 and 2.4, so this is a simple fix.

https://github.com/twigphp/Twig/commit/c9a2f3db8b04d8dc92c825f1bfd05ee57a89fd7f

[2020-05-10 12:41] thelem commented on #123
Fourth deprecation:

Further documentation is at https://symfony.com/blog/new-in-symfony-4-1-deprecated-the-bundle-notation

The suggested fix is supported in Symfony 3.4, so again this will be a simple change (in three places).

[2020-05-10 13:48] thelem commented on #123
Fifth deprecation:

This is documented at https://symfony.com/blog/new-in-symfony-4-1-deprecated-the-bundle-notation
The important difference between these two parents is that services must now be explicitly injected rather than relying on $this->get()

[2020-05-10 13:52] thelem commented on #123
That's all the deprecation messages that I can see. These changes are working well for me in Symfony 4.4 and based on the documentation should work with the older versions that are supported. I'm happy with these changes.

[2020-05-10 14:17] thelem opened #125 "Remove dependency on jms/translation-bundle"
The only occurrences of the string "JMS" that I can find anywhere in the module are:

- In the changelog and readme
- In composer.json
- In tool-id/tool-name attributes in the translation files. These seem to be effectively comments.
- In random strings in package-lock.json and *.map files (unrelated to JMS Translation bundle)

Based on #10 I think this package was added as a dependency by mistake

[2021-01-02 19:00] thelem opened #127 "Remove dependency on deprecated module twig/extensions"
https://github.com/twigphp/Twig-extensions is abandoned in favor of Twig Core Extra extensions.

[2021-01-13 04:37] zeldax54 opened #128 "composer command not installing ComurImageBundle"
In the docs says that the command is composer require comur/content-admin-bundle but that install and add to bundles.php
    **Comur\ContentAdminBundle\ComurContentAdminBundle::class => ['all' => true],
    JMS\TranslationBundle\JMSTranslationBundle::class => ['all' => true],**

which is the proper way to install the bundle?

[2021-02-10 10:07] #127 closed

[2021-03-08 14:51] thelem commented on #123
Use of Symfony\Component\Translation\TranslatorInterface prevents Symfony 5 working at all when the bundle is enabled.
Its replacement was only introduced in Symfony 4.2, so I've had to make that the minimum supported version.

[2021-03-08 15:09] comur commented on #123
Hi @thelem

Thx for your contribution and sorry for the delay.
Can you check your PR / update it so I can merge ? My recent updates (I removed JMSTranslation as you suggested) so it created a conflict.

Thx

[2021-03-08 15:16] thelem commented on #123
@comur Thanks for the response. No worries, I know what it's like to be an open source maintainer.

I've merged master into my branch which includes the removal of twig extensions. The JMSTranslation issue is still open and it's still listed as a dependency in composer.json.

I've got a separate problem with my Symfony 5 upgrade at the moment so I can't say for sure whether the current changes are

[2021-03-08 17:28] thelem commented on #123
With that last commit this is now working for me on Symfony 5 and twig 3.

I have tested uploading, cropping and using an existing image and everything worked well.

[2021-10-15 15:10] Mecanik commented on #123
What... how is that possible. First of all, the docs on this repo says to install "composer require comur/content-admin-bundle" - which has no inclusion of this repo. Second, trying to install this repo on a Symfony 5 project will fail because http foundation is not updated in composer.json.

[2021-10-15 15:53] Mecanik commented on #128
Same here... I`m very confused with this. This bundle would have saved my project.

[2021-10-16 13:00] thelem commented on #123
@Mecanik I think that's just a readme error - a block of text that has been copy-pasted from the admin bundle readme without being modified for the image bundle. Try composer require comur/comur-image-bundle.

This is an open PR though. At the moment the master branch does not support symfony 5.

[2021-10-16 14:04] Mecanik commented on #123
@thelem I saw... Pitty the author made a joke of this bundle. Actually, I took one of your branches from your fork and it works completely fine with Symphony 5. I had to make other changes as well to fit my needs with BS5, etc. Overall the bundle works well, just scattered everywhere.

[2021-10-17 18:07] thelem commented on #123
The author has provided and maintains this bundle for free. Yes, it would be good if he was able to be more responsive to pull requests and other improvements, but he's got his own life to lead and a bundle that he wrote several years ago isn't necessarily his top priority any more. You mention you've made other changes. Are these changes that other people would find useful? You don't seem to have